html{
	background-color:#2f3030;
	
}

body{
	
	background-color:#fb5151;
	border:5px dashed yellow;
	margin:14px;
}

.head{
	background:linear-gradient(black, red);
	
}

.head img{
	height:27px;
	width:27px;
}

.nav{
	background-color:black;
	margin-top: 10px;
}

button{
	width:300px;
	height:50px;
	font-family:verdona;
	background:linear-gradient(red, #4c0000);
	margin-left:15px;
	border:2px solid yellow;
	font-size:20px;
	font-style:oblique;
}

.button:hover, .button:active{
	background:linear-gradient(#2f3030, black);
	color:red;
	 
}

h1, h2{
	font-family:Comic Sans MS;
	text-align:center;
	color:yellow;
}

.profile{
	height:70%
}

.profile img{
	float:right;
	max-height:300px;
	max-width:40%;
}

.table {
	position:relative;
	left:20%;
}

.work{
	position:relative;
	left:10%;
}


.gallery{
	height:70%;	
    overflow:auto; 
	
}


.gallery img{
	height:50%;
	width:50%;
}



.gallery div{
	width:500px;
	height:500px;
	float:left;
}

h3{
	font-family:Times New Roman;
	color:yellow;
}

.footer{
	background:linear-gradient(red, black);	
	
	
}

td{
	
	text-align:center;
}

.bold{
	font-family:Georgia;
	text-align:left;
}

.footer img{
	
}

 
